*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    height: 100vh;
}

.hide{
    display: none;
}

main{
    background: #FFFFFF;
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.8);
    border-radius: .5rem;
    padding: 4.8rem 6.4rem;
}

.screen1{
    width: 26.4rem;
    height: 32.4rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    height: 5.8rem;
    width: 25.85rem;
    color: #34355B;
    margin: 0 auto 1.4rem;
    text-align: center;
}

p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #34355B;
    margin: 0 auto 2rem;
    text-align: center;
}

.screen1 img{
    width: 26.4rem;
    height: 20rem;
}

.screen1 img:hover{
    cursor: pointer;
    animation: tremer 200ms infinite
}

.screen2{
    width: 30rem;
    height: 48rem;
}

button{
    border: none;
    background: #FF9500;
    border-radius: .4rem;
    padding: 1.6rem;
    width: 17.4rem;
    height: 5.2rem;
    transition: background .3s;
    cursor: pointer;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FFFFFF;
    margin: 1.7rem 6.3rem 4.8rem 6.3rem;
}

button:hover{
    background: #d37e07;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    height: 5.9rem;
    width: 29.7rem;
    color: #34355B;
    margin: 0 auto 1.7rem;
    text-align: center;
}

.screen2 p{
    padding: 1rem;
    width: 29.3rem;
    height: 12.7rem;
    background: #E4EDF1;
    box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #000000;
    transform: translateY(180px) scale(0.1);
    animation: bilhetes 4s forwards;
}

@keyframes tremer{
    0% {
        margin-left: 2px;
    }
    25% {
        margin-left: 0;
    }
    50% {
        margin-top: 2px;
    }
    75% {
        margin-left: -2px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes bilhetes{
    0% {
        transform: translateY(180px) scale(0.1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

